<%- partial("../_common/site-header") %>

<header class="admin-header">
  <div class="wrap">
    <h1 class="page-title">Accounts</h1>
    <a href="/accounts/new" class="add-new">
      <span class="icon icon-plus-blue">Add</span>
    </a>
  </div>
</header>

<div class="wrap">
  <div class="table">
    <div class="header">
      <span class="name primary">Name</span>
      <span class="owner">Owner</span>
      <span class="link"> </span>
      <span class="link"> </span>
      <span class="action"> </span>
      <span class="action"> </span>
    </div>
    <div class="body">
      <% for(var i=0;i<2;i++) { %>
      <div class="item">
        <div class="name default primary"><a href="/accounts/id">Account <%- i %></a></div>
        <div class="owner">Leslie Marie</div>
        <div class="link default">
          <a href="/accounts/id/apps">Apps</a>
        </div>
        <div class="link default">
          <a href="/accounts/id/roles">Roles</a>
        </div>
        <div class="action default">
          <a href="/accounts/id/edit"><span class="icon icon-pencil-dark">Edit</span></a>
        </div>
        <div class="action default">
          <a href="/accounts/id/delete"><span class="icon icon-trash-dark">Delete</span></a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>