<%- partial("../_common/site-header") %>

<header class="admin-header">
  <div class="wrap">
    <div class="breadcrumbs">
      <a href="/accounts">Accounts</a>
    </div>
    <h1 class="page-title">Create New Account</h1>
  </div>
</header>

<div class="wrap">
  <form>
    <p>
      <label for="name">Name <span class="required">*</span></label>
      <input type="text" name="name" id="name" value="" class="value" />
    </p>

    <p>
      <label for="name">Description</label>
      <input type="text" name="description" id="description" value="" class="value" />
    </p>

    <div class="buttons">
      <p>
        <a href="/accounts" class="outline-button">Cancel</a>
        <input type="submit" class="primary-button" value="Save" />
      </p>
    </div>
  </form>
</div>