<div class="wrap">
  <img src="<%- Util.toAssetsUrl('images/penguin-logo.png') %>" alt="" id="login-logo" />
  <h1 id="penguin-title">Penguin</h1>
  <a href="#" class="primary-button">Sign In with Google</a>
</div>