<img src="<%- Util.toAssetsUrl('images/penguin-logo.png') %>" class="logo" />
<h1 class="title">Penguin</h1>
<a href="#" class="primary-button">Sign in with Google</a>

<footer id="site-footer">
  <div class="wrap">
    <span class="copyright">&copy; 2016 Anbu</span>

    <nav>
      <ul>
        <li><a href="/terms">Terms of Use</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/about">About Penguin</a></li>
      </ul>
    </nav>
  </div>
</footer>
