.account.index .table .body {
  .links a {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-dark-gray-3;
    text-decoration: none;
    margin-right: 3em;
  }
}

@include breakpoint(small-screens-only) {
  .account.index .table .body {
    .name {
      width: 100%;
      margin-bottom: 5px;
    }

    .links {
      padding-top: 0;
      width: 60%;
      font-size: 12px;
      line-height: 32px;

      a:last-child {
        margin-right: 0;
      }
    }

    .action {
      width: 20%;
    }
  }
}

@include breakpoint(desktop-and-up) {
  .account.index .table {
    .name {
      width: 30%;
    }

    .links,
    .owner {
      width: 25%;
    }

    .action {
      width: 10%;
    }
  }
}
