.account.index .table .body {
  .link a {
    color: $color-dark-gray-3;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
  }
}

@include breakpoint(small-screens-only) {
  .account.index .admin-header{
    margin-bottom: 0;
  }

  .account.index .table {
    .header {
      padding: 0;
    }

    .body {
      .name {
        width: 100%;
        margin-bottom: 5px;
      }

      .link {
        padding-top: 0;
        line-height: 32px;
        width: 30%;
      }

      .action {
        width: 20%;
      }
    }
  }
}

@include breakpoint(desktop-and-up) {
  .account.index .table {
    .name {
      width: 35%;
    }

    .owner {
      width: 25%;
    }

    .link {
      width: 100px;
      max-width: 10%;
    }

    .action {
      width: 80px;
      max-width: 10%;
    }
  }
}
