.app.index {
  .page-header {
    margin-bottom: 0;
  }

  .table {
    .name {
      width: 75%;
    }

    .description {
      display: none;
    }

    .title {
      vertical-align: middle;
    }

    .links {
      width: 25%;
      @include clearfix();

      a {
        display: inline-block;
        float: right;
        text-transform: uppercase;
        color: $color-penguin-blue-2;
        letter-spacing: 1px;
        vertical-align: middle;
        font-weight: 600;
        font-size: 13px;
      }

      a:not(.edit-link) {
        display: none;
      }

      .icon {
        width: 32px;
        height: 32px;
        background-size: 16px;
        background-position: center;
      }
    }
  }
}

@include breakpoint(small-landscape-and-below) {
  .app.index .table .table-header {
    padding: 0;

    div {
      display: none;
    }
  }
}

@include breakpoint(tablet-and-up) {
  .app.index {
    .page-header {
      margin-bottom: 2em;
    }

    .table {
      .name {
        width: 45%;
      }

      .links {
        width: 55%;
      }
    }

    .table .table-header div:not(.description) {
      display: block;
    }

    .table .table-body .links a {
      display: inline-block;
      float: left;
      margin-right: pxEm($base-padding * 4);

      &:last-child {
        margin: 0;
      }
    }
  }
}

@include breakpoint(desktop-and-up) {
  .app.index .table {
    .table-header .description {
      display: block;
    }

    .name {
      width: 30%;
    }

    .description {
      display: block;
      width: 30%;
    }

    .links {
      width: 40%;
    }
  }
}