<div class="logo-wrap">
  <h1 class="title">403</h1>
  <a href="/" class="penguin-outline">Penguin</a>
</div>

<blockquote>You shall not pass!</blockquote>
<p>You are not authorized to view this page.</p>