<div class="logo-wrap">
  <h1 class="title">404</h1>
  <a href="/" class="penguin-outline">Penguin</a>
</div>

<blockquote>Toto, I’ve got a feeling we're not in Kansas anymore.</blockquote>
<p>We cannot find the page you’re looking for.</p>