<div class="logo-wrap">
  <h1 class="title">500</h1>
  <a href="/" class="penguin-outline">Penguin</a>
</div>

<blockquote>Houston, we have a problem.</blockquote>
<p>Internal Server Error. We’re working on it!</p>