$color-white: #FFF;
$color-black: #000;

$color-penguin-blue: #13BBD3;
$color-penguin-blue-2: #0797AB;

$color-red: #EF6659;

$color-light-gray: #F6F6F6;
$color-light-gray-2: #EBEBEB;
$color-light-gray-3: #DBDBDB;
$color-light-gray-4: #F9F9F9;

$color-dark-gray: #222;
$color-dark-gray-2: #4B4B4B;
$color-dark-gray-3: #656565;