$color-white: #FFF;
$color-light-gray: #F2F2F2;
$color-light-gray-2: #FCFCFC;

$color-black: #000;
$color-dark-gray: #4a4a4a;
$color-dark-gray-2: #2A2A2A;
$color-dark-gray-3: #9B9B9B;
$color-dark-gray-4: #777;

$color-penguin-blue: #0AA4E0;
$color-penguin-blue-2: #068DC2;

$color-penguin-yellow: #FFCB0A;

$color-red: #F7596D;
$color-green: #3EC23D;