$color-white: #FFF;
$color-black: #000;
$color-light-gray: #F2F2F2;
$color-light-gray-2: #F3F3F3;
$color-dark-gray: #4A4A4A;
$color-dark-gray-2: #2A2A2A;
$color-dark-gray-3: #9B9B9B;

$color-penguin-blue: #0AA4E0;
$color-penguin-blue-2: #068DC2;
$color-penguin-yellow: #FFCB0A;

$color-red: #F7596D;
$color-green: #3EC23D;