.icon {
  @include hideText();
  background-repeat: no-repeat;
  height: 100%;
  background-size: contain;
  margin: auto;
}

.ico-add {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2222%22%20height%3D%2222%22%3E%3Ctitle%3EShape%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20fill%3D%22none%22%3E%3Cg%20fill%3D%22%230AA4E1%22%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M11%200c1.5%200%202.92.3%204.28.87%201.35.58%202.52%201.36%203.5%202.34%201%201%201.77%202.17%202.35%203.52.58%201.36.87%202.8.87%204.28%200%201.5-.3%202.92-.87%204.28-.58%201.35-1.36%202.52-2.35%203.5-.98%201-2.15%201.77-3.5%202.35-1.36.58-2.8.87-4.28.87-1.5%200-2.92-.3-4.28-.87-1.35-.58-2.52-1.36-3.5-2.34-1-1-1.77-2.17-2.35-3.52C.3%2013.92%200%2012.48%200%2011c0-1.5.3-2.92.87-4.28.58-1.35%201.36-2.52%202.35-3.5.98-1%202.15-1.77%203.5-2.35C8.08.3%209.52%200%2011%200zm0%202c-1.22%200-2.38.24-3.5.7-1.1.5-2.06%201.13-2.87%201.93-.8.8-1.44%201.76-1.9%202.87C2.22%208.62%202%209.78%202%2011c0%201.22.24%202.38.72%203.5.47%201.1%201.1%202.07%201.9%202.87.82.8%201.77%201.44%202.88%201.9%201.12.5%202.28.73%203.5.73%201.22%200%202.38-.24%203.5-.7%201.1-.5%202.06-1.13%202.87-1.93.8-.8%201.44-1.76%201.9-2.87.5-1.12.73-2.28.73-3.5%200-1.22-.24-2.38-.72-3.5-.47-1.1-1.1-2.06-1.9-2.87-.82-.8-1.77-1.44-2.88-1.92-1.12-.46-2.28-.7-3.5-.7zm0%204c.28%200%20.5.1.7.3.2.2.3.42.3.7v3h3c.28%200%20.5.1.7.3.2.2.3.42.3.7%200%20.28-.1.5-.3.7-.2.2-.42.3-.7.3h-3v3c0%20.28-.1.5-.3.7-.2.2-.42.3-.7.3-.28%200-.5-.1-.7-.3-.2-.2-.3-.42-.3-.7v-3H7c-.28%200-.5-.1-.7-.3-.2-.2-.3-.42-.3-.7%200-.28.1-.5.3-.7.2-.2.42-.3.7-.3h3V7c0-.28.1-.5.3-.7.2-.2.42-.3.7-.3z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ico-delete {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2218%22%3E%3Ctitle%3E%uF014%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20fill%3D%22none%22%3E%3Cg%20fill%3D%22%23068DC2%22%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M5.82%206.9c0-.2-.16-.35-.37-.35h-.72c-.2%200-.37.15-.37.36v6.55c0%20.2.16.37.37.37h.72c.2%200%20.37-.16.37-.37V6.9zm2.9%200c0-.2-.15-.35-.36-.35h-.72c-.2%200-.37.15-.37.36v6.55c0%20.2.16.37.37.37h.72c.2%200%20.37-.16.37-.37V6.9zm2.92%200c0-.2-.16-.35-.37-.35h-.72c-.2%200-.37.15-.37.36v6.55c0%20.2.16.37.37.37h.72c.2%200%20.37-.16.37-.37V6.9zm1.45%208.24c0%20.54-.32.86-.37.86H3.27c-.05%200-.36-.32-.36-.86V4.36h10.2v10.78zM5.44%202.9L6%201.6c.05-.05.14-.1.2-.13h3.6c.06.02.17.08.2.13l.55%201.33h-5.1zM16%203.28c0-.2-.16-.36-.36-.36h-3.52l-.8-1.9c-.22-.55-.9-1-1.5-1H6.18c-.6%200-1.28.45-1.5%201l-.8%201.9H.35c-.2%200-.36.17-.36.37V4c0%20.2.16.36.36.36h1.1v10.82c0%201.25.8%202.27%201.8%202.27h9.47c1%200%201.82-1.06%201.82-2.3V4.34h1.1c.2%200%20.35-.15.35-.35v-.73z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ico-edit {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Ctitle%3EShape%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20fill%3D%22none%22%3E%3Cg%20fill%3D%22%23068DC2%22%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M17.57%204.22l-3.8-3.8C13.5.15%2013.13%200%2012.76%200c-.38%200-.75.14-1.04.43L1.05%2011.1c-.3.3-.55.72-.74%201.17-.18.45-.3.93-.3%201.34V18h4.4c.4%200%20.88-.12%201.33-.3.45-.2.88-.45%201.16-.74L17.56%206.3c.3-.3.43-.68.43-1.05s-.14-.75-.43-1.03zM2.7%2012.2l8.1-8.1L12%205.3l-8.1%208.1-1.2-1.2zm1.7%203.85H2.92l-.98-.98V13.6c0-.07.03-.3.16-.58C2.13%2013%205%2015.88%205%2015.88c-.3.14-.53.17-.6.17zm1.4-.75l-1.2-1.2L12.7%206l1.2%201.2-8.1%208.1zm8.78-8.8l-3.1-3.08%201.27-1.27%203.1%203.1-1.27%201.26z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ico-search {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2222%22%20height%3D%2222%22%3E%3Ctitle%3EShape%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20fill%3D%22none%22%3E%3Cg%20fill%3D%22%230AA4E1%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M9%200c1.22%200%202.38.24%203.5.7%201.1.5%202.06%201.13%202.87%201.93.8.8%201.44%201.76%201.92%202.87.46%201.12.7%202.28.7%203.5%200%201.05-.17%202.05-.5%203-.35.97-.84%201.84-1.47%202.62l5.68%205.67c.2.18.3.42.3.7%200%20.3-.1.52-.3.7-.18.2-.4.3-.7.3-.28%200-.52-.1-.7-.3l-5.68-5.67c-.78.63-1.65%201.12-2.6%201.46-.97.33-1.97.5-3.02.5-1.22%200-2.38-.24-3.5-.7-1.1-.5-2.06-1.13-2.87-1.93-.8-.8-1.44-1.76-1.92-2.87C.25%2011.38%200%2010.22%200%209c0-1.22.24-2.38.7-3.5.5-1.1%201.13-2.06%201.93-2.87C3.43%201.83%204.4%201.2%205.5.7%206.62.25%207.78%200%209%200zm0%202c-.95%200-1.85.2-2.72.55-.86.38-1.6.87-2.23%201.5-.63.62-1.12%201.37-1.5%202.23C2.2%207.15%202%208.05%202%209c0%20.95.2%201.85.56%202.72.37.86.86%201.6%201.5%202.23.6.63%201.36%201.13%202.22%201.5.87.37%201.77.55%202.72.55.95%200%201.85-.18%202.72-.55.86-.38%201.6-.87%202.23-1.5.63-.62%201.12-1.37%201.5-2.23.36-.87.55-1.77.55-2.72%200-.95-.2-1.85-.56-2.72-.37-.86-.86-1.6-1.5-2.23-.6-.63-1.36-1.12-2.22-1.5C10.85%202.2%209.95%202%209%202z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}