@font-face {
  font-family: "Open Sans";
  src: url($fonts-dir + "OpenSans-Bold-webfont.eot");
  src: url($fonts-dir + "OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url($fonts-dir + "OpenSans-Bold-webfont.woff") format("woff"), url($fonts-dir + "OpenSans-Bold-webfont.ttf") format("truetype"), url($fonts-dir + "OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url($fonts-dir + "OpenSans-Italic-webfont.eot");
  src: url($fonts-dir + "OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url($fonts-dir + "OpenSans-Italic-webfont.woff") format("woff"), url($fonts-dir + "OpenSans-Italic-webfont.ttf") format("truetype"), url($fonts-dir + "OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url($fonts-dir + "OpenSans-Regular-webfont.eot");
  src: url($fonts-dir + "OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url($fonts-dir + "OpenSans-Regular-webfont.woff") format("woff"), url($fonts-dir + "OpenSans-Regular-webfont.ttf") format("truetype"), url($fonts-dir + "OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url($fonts-dir + "OpenSans-Semibold-webfont.eot");
  src: url($fonts-dir + "OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url($fonts-dir + "OpenSans-Semibold-webfont.woff") format("woff"), url($fonts-dir + "OpenSans-Semibold-webfont.ttf") format("truetype"), url($fonts-dir + "OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url($fonts-dir + "Lato-Bold-webfont.woff2") format("woff2"), url($fonts-dir + "Lato-Bold-webfont.woff") format("woff"), url($fonts-dir + "Lato-Bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

$base-font: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size: $base-pixel;
$base-line-height: 1.2;

$heading-font: "Lato";