$admin-header-base-size: 20;

.admin-header {
  background: $color-light-gray-4;
  font-size: pxEm($admin-header-base-size);
  padding: 1em pxEm($base-font-size, $admin-header-base-size);
  margin-bottom: 1em;

  .page-title {
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
  }

  .add-new {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 18px;
    text-align: center;
  }
}

@include breakpoint(desktop-and-up) {
  .admin-header {
    font-size: pxEm(28);
  }
}
