%button{
  display: inline-block;
  outline: 0;
  text-decoration: none;
  border: 0;
  height: 46px;
  text-align: center;
  @include transition(all 0.3s ease);
  font-size: pxEm(18);
  line-height: 46px;
  text-decoration: none;
  cursor: pointer;
  @include border-radius(4px);
  padding-left: 1em;
  padding-right: 1em;
}

.primary-button {
  @extend %button;
  color: $color-white;
  font-weight: 700;
  background: $color-penguin-blue;

  @include hoverStyles() {
    background: $color-penguin-blue-2;
  }
}