input[type="search"] {
  background-color: $color-white;
  border: 1px solid rgba($color-dark-gray-3, 0.4);
  height: 32px;
  line-height: 32px;
  padding: 0 pxEm(10,14);
  @include border-radius(4px);
  font-size: 14px;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 32px;
  width: 100%;
  display: block;
}

