.table {
  white-space: nowrap;

  .table-header {
    @include clearfix();
    border-bottom: 1px solid $color-penguin-yellow;
    padding: pxEm($base-padding / 2);

    div {
      float: left;
      font-size: 14px;
      color: $color-dark-gray-4;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .table-body {
    .item {
      @include clearfix();
      border-bottom: 1px solid $color-light-gray;
      padding: pxEm($base-padding / 2);

      & > div {
        float: left;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 32px;
        padding-right: pxEm($base-padding / 2, 14);
      }
    }

    .main-field {
      font-weight: 600;
      color: $color-dark-gray-2;
    }

    .image {
      width: 32px;
      height: 32px;
      display: inline-block;;
      margin-right: pxEm($base-padding / 2, 14);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 32px;
      background-color: rgba($color-light-gray, 0.3);
      @include border-radius(4px);
      vertical-align: middle;

      &.default {
        background-size: 18px;
      }
    }

    a {
      text-decoration: none;
    }
  }
}