$table-default-width: 25%;
$table-column-padding: 20px;

.table {
  .header {
    @include clearfix();
    border-bottom: 2px solid $color-light-gray-2;
    padding-bottom: pxEm(10);

    span {
      float: left;
      width: $table-default-width;
      font-size: pxEm(14);
      color: $color-dark-gray-2;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0 $table-column-padding;
      min-height: 14px;
    }
  }

  .item {
    @include clearfix();
    border-bottom: 1px solid $color-light-gray;
    padding: 10px 0;
  }

  .item > div {
    float: left;
    width: $table-default-width;
    font-size: pxEm(14);
    color: $color-dark-gray-3;
    padding: 10px $table-column-padding 0;
  }

  .item .primary {
    padding-top: 8px;
    font-size: pxEm(16);
    font-weight: 600;
    color: $color-dark-gray;

    a {
      color: $color-dark-gray;
      text-decoration: none;
    }
  }

  .item .action {
    padding-top: 0;

    a {
      display: inline-block;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px;
    }

    span {
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

@include breakpoint(small-screens-only) {
  .table {
    .header span:not(.default),
    .item div:not(.default) {
      display: none;
    }
  }
}
