.page-header {
  @include clearfix();
  padding: pxEm($base-padding * 2) 0 pxEm($base-padding/2);
  margin-bottom: pxEm($base-padding);
  border-bottom: 1px solid $color-light-gray;
  position: relative;

  .title {
    font-size: pxEm(18);
    font-family: $heading-font;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
  }

  a {
    display: inline-block;
    vertical-align: middle;
  }

  .icon {
    width: 32px;
    height: 32px;
    background-size: 16px;
    display: inline-block;
    background-position: center;
  }

  .search-button {
    display: block;
    float: right;
    background: $color-light-gray-2;
    border-radius: 4px;
    border: 1px solid $color-light-gray;
    margin-bottom: 0.25em;

    span {
      width: 32px;
      height: 32px;
      display: block;
    }
  }

  input[type="search"] {
    display: none;
    padding: pxEm(10,14);

    &.visible {
      display: block;
    }
  }
}

@include breakpoint(small-landscape-and-below) {
  .page-header {
    input[type="search"] {
      background-image: none;
    }
  }
}

@include breakpoint(tablet-and-up) {
  .page-header {
    .title {
      font-size: pxEm(30);
    }

    .search-button {
      display: none;
    }

    input[type="search"] {
      display: block;
      width: 300px;
      float: right;
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: 98% center;

      @include hoverStyles() {
        background-image: none;
      }
    }
  }
}