<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <%- partial("../_common/head-meta") %>
    <link rel="stylesheet" href="<%- Util.toAssetsUrl('/styles/main.css') %>">
  </head>
  <body class="error-page">
    <%- body %>
  </body>
</html>
