<div id="site-header">
  <div class="wrap">
    <a href="/" class="logo"><img src="<%- Util.toAssetsUrl('images/penguin-logo.png') %>" /></a>

    <div id="user-menu">
      <a href="#">Leslie Marie <span class="icon icon-arrow-white"></span></a>
    </div>
  </div>
</div>