.template.index {
  .page-header {
    margin-bottom: 0;
  }

  .table {
    .name {
      width: 75%;
    }

    .image,
    .description {
      display: none;
    }

    .title {
      vertical-align: middle;
    }

    .links {
      width: 25%;
      @include clearfix();

      a {
        display: inline-block;
        float: right;
        text-transform: uppercase;
        color: $color-penguin-blue-2;
        letter-spacing: 1px;
        vertical-align: middle;
        font-weight: 600;
        font-size: 13px;
      }

      a:not(.edit-link) {
        display: none;
      }

      .icon {
        width: 32px;
        height: 32px;
        background-size: 16px;
        background-position: center;
      }
    }
  }
}

@include breakpoint(small-landscape-and-below) {
  .template.index .table .table-header {
    padding: 0;

    div {
      display: none;
    }
  }
}

@include breakpoint(tablet-and-up) {
  .template.index {
    .page-header {
      margin-bottom: 2em;
    }

    .table {
      .name {
        width: 30%;
      }

      .description {
        display: block;
        width: 50%;
      }

      .links {
        width: 20%;
      }
    }

    .table .table-body .links a {
      display: inline-block;
      float: left;
      margin-right: pxEm($base-padding * 4);

      &:last-child {
        margin: 0;
      }
    }
  }
}