<div class="wrap">
  <div class="page-header">
    <h1 class="title">Templates</h1> <a href="/templates/new"><span class="icon ico-add"></span></a>
    <a href="#searchbox" class="search-button"><span class="icon ico-search"></span></a>
    <input id="searchbox" type="search" placeholder="Search for templates" class="ico-search" />
  </div>

  <div class="table">
    <div class="table-header">
      <div class="name">Name</div>
      <div class="description">Description</div>
      <div class="links">Links</div>
    </div>

    <div class="table-body">
      <% for(var i=0; i<10; i++) { %>
      <div class="item">
        <div class="name">
          <a href="/apps/1/templates/1/edit" class="image default" style="background-image: url(<%- Util.toAssetsUrl('/images/app.png') %>)"></a>
          <a href="/apps/1/templates/1/edit" class="title main-field">Template Name</a>
        </div>
        <div class="description">Template description</div>
        <div class="links">
          <a href="/apps/1/templates/1/edit" class="edit-link"><span class="icon ico-edit"></span></a>
          <a href="/apps/1/templates/1/edit"><span class="icon ico-delete"></span></a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>