.session.login {
  text-align: center;

  .wrap {
    padding-top: 5em;
  }

  #login-logo {
    width: 129px;
    height: auto;
    display: block;
    margin: pxEm($base-padding) auto;
  }

  #penguin-title {
    font-size: pxEm(36);
    font-family: $heading-font;
    font-weight: bold;
    margin: pxEm($base-padding) auto;
  }

  .primary-button {
    display: block;
    width: 230px;
    margin: pxEm($base-padding) auto;
  }
}